body {
  background-color: #f6f6f6;
  font-family: sans-serif;
}

#to-do-list {
  margin: 10%;
}

.to-do-list {
  list-style: none;
}

.to-do-list li {
  font-size: 35px;
  line-height: 70px;
  background-color: white;
  border: solid 3px #f0f0f0;
  box-shadow: 0 8px 10px gray;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#input {
  font-size: 35px;
  line-height: 70px;
  border: none;
  font-style: italic;
  width: 90%;
}

.clear {
  color: #adadad;
  background-color: #f6f6f6 !important;
  justify-content: center !important;
}

.list-icon {
  color: #adadad;
  grid-area: d;
}

.list-item {
  display: grid !important;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr 3.5%;
  grid-template-areas: 'a b c d';
  justify-content: left;
  gap: 10px;
}

.input-btn,
.edit-btn,
.delete-btn {
  background-color: white;
  border: none;
  color: #adadad;
  cursor: pointer;
  font-size: 35px;
}

.square {
  transform: scale(1.75);
}

.list-item p {
  margin: 0;
}

.delete-btn {
  display: none;
}
